<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
        {% block links %}
        {% endblock %}
    </head>
    <body>
        <header class="links">
            <a href="/">HOME</a>
            <a href="/catalog/">CATALOG</a>
            <div class="user">
                {% if account %}
                    <a href="/user/">{{ username }}</a>
                    <a href="/logout/">LOGOUT</a>
                {% else %}
                    <a href="/reg/">REGISTARTION</a>
                    <a href="/auth/">AUTHORIZATION</a>
                {% endif %}
            </div>
        </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>