{% extends 'base.html' %}

{% block title %}
Catalog
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('catalog_app.static',filename='catalog_app/css/catalog.css') }}">
{% endblock %}

{% block content %}
    <h1>Catalog</h1>
    <div class="list-products">
        {% for product in products %}
            <form class="product" method="post">
                <input type="hidden" name="id-product" value="{{ product.id }}">
                <img src="{{ url_for('catalog_app.static',filename='catalog_app/img/products/' + product.image + '.png') }}" alt="">
                <h5><a href="/product/">{{ product.name }}</a> - {{ product.price }} <button>Видалити</button></h5>
            </form>
        {% endfor %}
    </div>
    <div class="create-product">
        <h1>Create Product</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="name" name="name">
            <input type="number" placeholder="price" name="price">
            <textarea name="description" placeholder="description" id=""></textarea>
            <input type="file" placeholder="image" accept="image/*" name="image">
            <button>Save product</button>
        </form>
    </div>
{% endblock %}