{% extends 'base.html' %}

{% block title %}
    Product
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('catalog_app.static',filename='catalog_app/css/product.css') }}">
{% endblock %}

{% block content %}
    <img src="{{ url_for('catalog_app.static',filename='catalog_app/img/products/' + product.image + '.png') }}">
    <h2>{{ product.name }} - {{ product.price }}$</h2>
    <button>Buy</button>
    <p>{{ product.description }}</p>
    <div class="reviews">
        <h1>Reviews:</h1>
        {% for review in product.reviews %}
            {% if review.user %}
                <h2>Author: {{ review.user.name }}</h2>
            {% endif %}
            <h2>Rating: {{ review.raiting }}★</h2>
            <h5>{{ review.text }}</h5>
            <hr>
        {% endfor %}
        <h1>Create Review:</h1>
        <form method="post" class="create-review">
            <h4>Review:</h4>
            <textarea name="review" id=""></textarea>
            <h4>Rating:</h4>
            <input type="number" name="rating" id="" min="0" max="5">
            <button>submit</button>
        </form>

    </div>
{% endblock %}