{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('reg_app.static',filename='reg_app/css/reg.css') }}">
{% endblock %}

{% block content %}
    <form method="post">
        <h1>{{ title }}:</h1>
        <h3>Login:</h3>
        <input type="text" name="name" minlength="4" required>
        <h3>Password:</h3>
        <input type="password" name="password" maxlength="24" required>
        <button>Submit</button>
    </form>
{% endblock %}