<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
        {% block links %}
        {% endblock %}
    </head>
    <body>
        <div class="links">
            <a href="/">HOME</a>
            <a href="/catalog/">CATALOG</a>
            <a href="/reg/">REGISTARTION</a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>