img {
    max-width: 100%;
    max-height: 100%;
}
#content{
    width: 100%;
}
.list-products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}
p {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
h5{
    font-size: 20px;
    margin: 0;
}
.create-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px;
    gap: 15px;
    border: 2px solid black;
    border-radius: 15px;
}
form input{
    height: 40px;
    width: 85%;
    padding-left: 10px;
}
form textarea{
    height: 200px;
    resize: none;
    padding: 10px;
    width: 85%;
}
form button{
    width: 30%;
    height: 40px;

}
#image-size-handler{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-trash{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    display: flex;
    padding-top: 2px;
}
.button-trash:hover{
    cursor: pointer;
}
svg{
    width: 20px;
    height: 20px;
}