img {
    max-width: 100%;
    max-height: 100%;
}
#content{
    width: 100%;
}
.list-products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}
p {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
h5{
    font-size: 20px;
    margin: 0;
}
.image-size-handler{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.button-trash{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    display: flex;
    padding-top: 2px;
}
.button-trash:hover{
    cursor: pointer;
}
svg{
    width: 20px;
    height: 20px;
}
.button-cart{
    width: 90%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
.button-cart:hover{
    background-color: rgb(219, 219, 219);
}